

/* HEADER */
#headerBody{
    padding-top: 20px;
    padding-bottom: 0px;
}
#navBody{
    background-color: black;
}
#headerText{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    letter-spacing: 10px;
    /* font-family: 'Berkshire Swash', cursive; */
}
#headeHR{
width: 60%;
border: 10px solid white;
margin: auto;
padding: 0 ;

}

/* Footer */
.footerWrapper{
    background-color: black;
}
.footerText{
    color: white;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Slider */
.desktopSlidePics{
    height: 400px !important;
    width: 100% !important
}
#homeSlideWrapper{
    pointer-events: none;
    position: relative;
    border:solid black;
    border-width: 20px 20px 20px 20px
}

/* Home */
.bodyTexts{
    font-family: 'Open Sans', sans-serif;
}
#homeContainer1{
    background: url('./images/white-waves.png')
}

#HomeHeader{
    margin-bottom: 100px;
}








/* MOBILE */
@media only screen and (max-width: 960px) { 
    /* Header */
    #headerText{
        font-size: 35px;
        letter-spacing: 5px;
    }

    /* Slider */
    .desktopSlidePics{
        height: 650px !important;
        width: 100% !important
    }
    
     /* Home */
    
}


@media only screen and (max-width: 480px) { 
     /* Header */
    #headerText{
        font-size: 40px;
        letter-spacing: 2.5px;
    }
    #headeHR{
        width: 82%; 
        }

     /* Slider */
     .desktopSlidePics{
        height: 350px !important;
        width: 100% !important
    }

    /* Footer */
    .footerText{ 
      font-size: 10px;
    }

     /* Home */
     #HomeHeader{
        font-size: 30px;
        margin-bottom: 50px;
    }
    #comingSooonText{
        font-size: 25px !important;
    }
   

}

@media only screen and (max-width: 350px) { 
    /* Header */
    #headerText{
        font-size: 35px;
    }

     /* Slider */
     .desktopSlidePics{
        height: 300px !important;
        width: 100% !important
    }

    /* Home */
    #HomeHeader{
        font-size: 25px;
    }
    #comingSooonText{
        font-size: 20px !important;
    }
   

}