

/* HEADER */
#headerBody{
    padding-top: 20px;
    padding-bottom: 0px;
}
#navBody{
    background-color: black;
}
#headerText{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    letter-spacing: 10px;
    /* font-family: 'Berkshire Swash', cursive; */
}
#headeHR{
width: 60%;
border: 10px solid white;
margin: auto;
padding: 0 ;

}

/* Footer */
.footerWrapper{
    background-color: black;
}
.footerText{
    color: white;
    font-size: 30px;
    
    
}
.footerText2{
    color: white;
    font-size: 30px;   
}

/* Slider */
.desktopSlidePics{
    height: 500px !important;
    width: 100% !important
}
#homeSlideWrapper{
    pointer-events: none;
   
}
#SlideWrap{
    position: relative;
}

#homesliderLogo{
    width: 350px;
    height: 250px;;
    position: absolute;
    top: 24%;
    left: 38%;
    border:solid black;
    border-width: 10px 10px 10px 10px; 
}
/* Home */
.bodyTexts{
    font-family: 'Open Sans', sans-serif;
}
#homeContainer1{
    background: url('./images/white-waves.png')
}

#HomeHeader{
    margin-bottom: 100px;
}
.homeContainer1Header{
    color: white;
}
.homeNestedContainer1{
    border:solid black;
    border-width: 10px 10px 10px 10px;
   background: url('./images/canion-mountains-on-night-sky-2098428.jpg') no-repeat ;   
   background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size:   cover;
  -moz-background-size:  cover;
   -o-background-size:  cover;
}

#homeHR1{
    width: 25% !important;
    border-top: solid white 10px !important;

}
#homeHR2{
    width: 8% !important;
    border-top: solid black 10px !important;
}
#homeHR3{
    width: 100% !important;
    border-top: solid black 5px !important;
}
#homeCardHR{
    width: 25% !important;
    border-top: solid black 10px !important;
}
.homecontainer2Text{
    font-size: 70px;
}
.homeConatiner1Bio{
    margin-left: 100px;
    margin-right: 100px;
    color: white;
}








/* MOBILE */
@media only screen and (max-width: 1025px) { 
   
    
     /* Home */
     #homesliderLogo{
        position: absolute;
        top: 28%;
        left: 32.5%;
 
    }
    
}


@media only screen and (max-width: 960px) { 
    /* Header */
    #headerText{
        font-size: 35px;
        letter-spacing: 5px;
    }

    /* Footer */
    .footerText{
        color: white;
        font-size: 30px;
        
        
    }
    .footerText2{
        color: white;
        font-size: 40px;   
    }

    /* Slider */
    .desktopSlidePics{
        height: 650px !important;
        width: 100% !important
    }
    
     /* Home */
     #homesliderLogo{
        position: absolute;
        top: 28%;
        left: 28%;
 
    }
    .homeConatiner1Bio{
        margin-left: 20px;
        margin-right: 20px;
        color: white;
    }
    
}

@media only screen and (max-width: 740px) { 
    
     /* Home */
     #homesliderLogo{
        position: absolute;
        top: 28%;
        left: 20%;
 
    }
    
}


@media only screen and (max-width: 480px) { 
     /* Header */
    #headerText{
        font-size: 40px;
        letter-spacing: 2.5px;
    }
    #headeHR{
        width: 82%; 
        }

     /* Slider */
     .desktopSlidePics{
        height: 350px !important;
        width: 100% !important
    }

    /* Footer */
    .footerText{ 
      font-size: 20px;
      padding: 0px;
   
    }
    .footerText2{
        font-size: 35px;
        padding: 0px;
    }

     /* Home */
     #HomeHeader{
        font-size: 30px;
        margin-bottom: 50px;
    }
    #comingSooonText{
        font-size: 25px !important;
    }
    #homesliderLogo{
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;
    }
    .homeConatiner1Bio{
        margin-left: 5px;
        margin-right: 5px;
        color: white;
    }
    
   

}

@media only screen and (max-width: 350px) { 
    /* Header */
    #headerText{
        font-size: 35px;
    }

     /* Slider */
     .desktopSlidePics{
        height: 300px !important;
        width: 100% !important
    }

    /* Home */
    #HomeHeader{
        font-size: 25px;
    }
    #comingSooonText{
        font-size: 20px !important;
    }
   

}